# Lab: Handling Missing Data
What do you do when ther are unknown or missing values in your data?

This lab will walk you through a number of ways to handle missing data including using a default value and building a model to predict the missing data based on other variables that are present in the data set.

## Section 1: Import Dataset
This lab uses data from the [Give Me Some Credit](https://www.kaggle.com/c/GiveMeSomeCredit/) competition on [Kaggle](https://www.kaggle.com/).  

This dataset contains the following columns according to the [data dictionary](https://www.kaggle.com/c/GiveMeSomeCredit/data?select=Data+Dictionary.xls):
* <b>SeriousDlqin2yrs</b>: Person experienced 90 days past due delinquency or worse 
* <b>RevolvingUtilizationOfUnsecuredLines</b>: Total balance on credit cards and personal lines of credit except real estate and no installment debt like car loans divided by the sum of credit limits
* <b>age</b>: Age of borrower in years
* <b>NumberOfTime30-59DaysPastDueNotWorse</b>: Number of times borrower has been 30-59 days past due but no worse in the last 2 years.
* <b>DebtRatio</b>: Monthly debt payments, alimony,living costs divided by monthy gross income
* <b>MonthlyIncome</b>: Monthly income
* <b>NumberOfOpenCreditLinesAndLoans</b>: Number of Open loans (installment like car loan or mortgage) and Lines of credit (e.g. credit cards)
* <b>NumberOfTimes90DaysLate</b>: Number of times borrower has been 90 days or more past due.
* <b>NumberRealEstateLoansOrLines</b>:	Number of mortgage and real estate loans including home equity lines of credit
* <b>NumberOfTime60-89DaysPastDueNotWorse</b>:	Number of times borrower has been 60-89 days past due but no worse in the last 2 years.
* <b>NumberOfDependents</b>: Number of dependents in family excluding themselves (spouse, children etc.)

In this lab, you will use the [pandas](https://pandas.pydata.org/) library in python to import, analyze and manipulate the dataset.

In [17]:
#Import pandas package
import pandas as pd

#Import dataset
credit_data = pd.read_csv('data_files/missing_data/credit_score.csv')

#Show first 10 rows of data
credit_data.head(10)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
5,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
6,0,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0
7,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0
8,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
9,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0

## Section 2: Check for Missing Data
You can now check for missing data within the columns of your *pandas* dataframe.

The [isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html?highlight=isna#pandas.DataFrame.isna) function returns a value of True if that data is NA or NaN (i.e., missing) and False otherwise.  

Using the *sum* function allows you to add up all the True values for each column.

In [18]:
#Count the missing values for each column in the dataframe
credit_data.isna().sum()

SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

As you can see, there is missing data in two columns: **MonthlyIncome** and **NumberOfDependents**.  

To determine the scope of issue, you can calculate the percentage of missing values with respect to the size of the total dataset.

In [19]:
#Determine percentage of missing data for MonthlyIncome column

#Count the total number of records in the dataset
total_rows = credit_data.shape[0]

#Count the number of missing records
missing = credit_data['MonthlyIncome'].isna().sum()

#Calculate the percentage
percent_missing = missing / total_rows

print('There are {:,} total records in the dataset.'.format(total_rows))
print('There are {:,} missing MonthlyIncome values.'.format(missing))
print('There are {:.2%} of the total records have missing values for MonthlyIncome.'.format(percent_missing))

There are 150,000 total records in the dataset.
There are 29,731 missing MonthlyIncome values.
There are 19.82% of the total records have missing values for MonthlyIncome.

Now you can calculate the number of missing records and the percentage of missing records for the **NumberOfDependents** column.

In [20]:
#Count the number of missing records
missingN = credit_data['NumberOfDependents'].isna().sum()

#Calculate the percentage
percent_missingN = missingN / total_rows

print('There are {:,} total records in the dataset.'.format(total_rows))
print('There are {:,} missing NumberOfDependents values.'.format(missingN))
print('There are {:.2%} of the total records having missing value for NumberOfDependents.'.format(percent_missingN))

There are 150,000 total records in the dataset.
There are 3,924 missing NumberOfDependents values.
There are 2.62% of the total records having missing value for NumberOfDependents.

## Section 3: Remove Missing Data
Now that you have identified where data are missing, there are several techniques you can use to handle the missing values.

This section discusses the simplest option: removing the missing values from your dataset.  One way to do this is to exclude the column with missing values from your dataset.  Another is to delete just the rows with missing values but to keep the column as a whole.

### Delete Rows with Missing Data
If there are relatively few records with missing data, it may make sense to simply exclude those records from your analysis.

In [21]:
#Create a new dataset with no missing NumberOfDependents values
clean_dependents = credit_data[~credit_data['NumberOfDependents'].isna()]

print('There are {:,} total records in the dataset with no missing NumberOfDependents.'.format(clean_dependents.shape[0]))
print('There are {:,} records in the dataset with missing NumberOfDependents.'.format(clean_dependents['NumberOfDependents'].isna().sum()))

There are 146,076 total records in the dataset with no missing NumberOfDependents.
There are 0 records in the dataset with missing NumberOfDependents.

Now it's your turn.  Create a dataset with no missing records for **MonthlyIncome** by removing the rows with missing values.

In [22]:
#Create a new dataset with no missing MonthlyIncome values
clean_income = credit_data[~credit_data['MonthlyIncome'].isna()]

print('There are {:,} total records in the dataset with no missing MonthlyIncome.'.format(clean_income.shape[0]))
print('There are {:,} records in the dataset with missing MonthlyIncome.'.format(clean_income['MonthlyIncome'].isna().sum()))

There are 120,269 total records in the dataset with no missing MonthlyIncome.
There are 0 records in the dataset with missing MonthlyIncome.

While deleting missing data might be expedient, it is not always the best solution.  This is because when you delete records, you may end up throwing away a lot of useful data in other columns due to the missing values.  When you delete a whole column from the data, you may end up throwing away a valuable predictor (for example, monthly income is likely a strong predictor on credit defaults).

## Section 4: Impute Missing Data
As an alternative to deleting the missing data, you can instead replace the missing values with [imputed](https://en.wikipedia.org/wiki/Imputation_(statistics)) values.

### Technique 1: Use a Default Value
The first technique is to use a pre-definied value to replace the missing data.  The default value most commonly used is the mean or average value.  

*pandas*  has a *fillna* function, which allows you to easily replace the missing values with a default.

In [23]:
#Calculate mean MonthlyIncome
avg_income = credit_data['MonthlyIncome'].mean()
print('The average monthly income is {:.2f}.'.format(avg_income))

#Replace missing values with the average
credit_data['CleanMonthlyIncome'] = credit_data['MonthlyIncome'].fillna(avg_income)

print('There are {:,} records in the dataset with missing MonthlyIncome.'.format(credit_data['CleanMonthlyIncome'].isna().sum()))

The average monthly income is 6670.22.
There are 0 records in the dataset with missing MonthlyIncome.

Since the **NumberOfDependents** column is categorical rather than numeric, you should use the mode - or most frequent - value, rather than the average value as the default value.

In [24]:
#Determine most frequent number of dependents
dependents_mode = credit_data['NumberOfDependents'].mode()[0]

print('The most common number of dependents is {:.0f}.'.format(dependents_mode))

The most common number of dependents is 0.

Use the *fillna* function to replace the missing values in the **NumberOfDependents** columns.  Save these new values into a new column in the credit_data dataframe.

In [25]:
#Replace missing values with the mode
credit_data['CleanNumberOfDependents'] = credit_data['NumberOfDependents'].fillna(dependents_mode)

### Technique 2: Random Sampling
While using a default value is a simple solution, it doesn't always produce the most realistic outcome.  

For categorical variables, another option is to sample from the distribution of possible values rather than using the most common value for all missing values.  The sampled values can follow any distribution you choose, such as uniform (equally likely to pick any of the possible values), Poisson or using the weights of the actual (non-missing) values in the dataset.

In [26]:
#Get distribution for NumberOfDependents
dependents = pd.DataFrame(credit_data['NumberOfDependents'].value_counts())
dependents['Percentage'] = dependents.apply(lambda x: x/x.sum())
dependents

      NumberOfDependents  Percentage
0.0                86902    0.594909
1.0                26316    0.180153
2.0                19522    0.133643
3.0                 9483    0.064918
4.0                 2862    0.019593
5.0                  746    0.005107
6.0                  158    0.001082
7.0                   51    0.000349
8.0                   24    0.000164
9.0                    5    0.000034
10.0                   5    0.000034
13.0                   1    0.000007
20.0                   1    0.000007

In [27]:
#Import the numpy package
import numpy as np

#Sample from the number of dependents based on the distribution
credit_data['SampledDependents'] = \
credit_data['NumberOfDependents'].fillna(np.random.choice(dependents.index.values, p=dependents['Percentage']))

In [28]:
#Show counts/percentages with and without random sampling
dependents['NewCount'] = credit_data['SampledDependents'].value_counts()
dependents['NewPercentage'] = dependents['NewCount']/dependents['NewCount'].sum()

print('NewCount and NewPercentage columns show the NumberOfDependents distribution after random sampling using the original distribution weights.')
dependents

NewCount and NewPercentage columns show the NumberOfDependents distribution after random sampling using the original distribution weights.

      NumberOfDependents  Percentage  NewCount  NewPercentage
0.0                86902    0.594909     86902       0.579347
1.0                26316    0.180153     30240       0.201600
2.0                19522    0.133643     19522       0.130147
3.0                 9483    0.064918      9483       0.063220
4.0                 2862    0.019593      2862       0.019080
5.0                  746    0.005107       746       0.004973
6.0                  158    0.001082       158       0.001053
7.0                   51    0.000349        51       0.000340
8.0                   24    0.000164        24       0.000160
9.0                    5    0.000034         5       0.000033
10.0                   5    0.000034         5       0.000033
13.0                   1    0.000007         1       0.000007
20.0                   1    0.000007         1       0.000007

Now it's your turn.  Use the *random.choice* function from the [numpy](https://numpy.org/doc/stable/user/index.html) package to fill in the missing values using a uniform distribution.  

Hint: Check the documentation [here](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html) to see what happens when no *p* value is given.

In [31]:
#Sample from the number of dependents using a uniform distribution
credit_data['SampledDependents'] = \
credit_data['NumberOfDependents'].fillna(np.random.choice(dependents.index.values))

### Technique 3: Use a Prediction Model
The final technique you will use in this lab is to impute the missing data using a machine learning model.  You can do this by using the other columns, such as **age** or **DebtRatio** as predictors to determine the missing variable, in this case, **MonthlyIncome**.  

You will be using the [scikit-learn](https://scikit-learn.org/stable/) package to build the prediction model.  

In order to test how well the imputation model predicts **MonthlyIncome**, you should first split your dataset into two parts - training and test - using the [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) function. Then you will build a regression model using the [LinearRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) function

In [32]:
#Get new dataset where MonthlyIncome is not missing (to be used to build your model)
prediction_data = credit_data[~credit_data['MonthlyIncome'].isna()]

#Import the train/test split function from scikit-learn
from sklearn.model_selection import train_test_split

#Split into training/test datasets
prediction_train, prediction_test = train_test_split(prediction_data, train_size=0.8)

print('The training dataset has {:,} records.'.format(prediction_train.shape[0]))
print('The test dataset has {:,} records.'.format(prediction_test.shape[0]))

The training dataset has 96,215 records.
The test dataset has 24,054 records.

In [33]:
#Create mask of columns to include as features in the model
features = ~prediction_train.columns.isin(['MonthlyIncome','CleanMonthlyIncome','NumberOfDependents'])
feature_columns = prediction_data.columns[features]

#Import linear regression model function from scikit-learn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

#Create linear regression model
model = LinearRegression()
#Fit linear regression model
model.fit(prediction_train[feature_columns], prediction_train['MonthlyIncome'])

#Predict monthly income using the model
train_predict = model.predict(prediction_train[feature_columns])
test_predict = model.predict(prediction_test[feature_columns])

#Evaluate model predictions
mse_train = mean_squared_error(prediction_train['MonthlyIncome'], train_predict)
mse_test = mean_squared_error(prediction_test['MonthlyIncome'], test_predict)

print('The mean squared error on the training dataset is {:,.0f}.'.format(mse_train))
print('The mean squared error on the test dataset is {:,.0f}.'.format(mse_test))

The mean squared error on the training dataset is 235,359,874.
The mean squared error on the test dataset is 70,107,334.

For this example, the mean squared error for both the training and test datasets are huge, which means that the other columns are unfortunately *not* good predictors of the income.  Therefore, using this method would not be recommended for this dataset.  Instead, it is probably best to stick with technique 2 (replacing the missing values with the mean).